.sell{
    &.bg-black{
        background-color: rgb(14,14,15);
    }
    .travel-path-left-comet{
        offset-path: path("M0.733178 744.708L632.014 117.282L632.015 117.281C787.787 -38.225 1040.11 -38.4268 1196.12 116.676L1196.11 116.663L1196.49 116.333M0.733178 744.708C0.607247 744.598 0.481363 744.489 0.355527 744.379L631.662 116.927C787.632 -38.7775 1040.28 -38.9755 1196.49 116.333M0.733178 744.708L0.377623 745.062C171.721 894.45 431.05 888.275 592.379 727.22L1200.14 120.496M0.733178 744.708C171.882 893.904 430.894 887.723 592.026 726.866L1199.46 120.474M1196.49 116.333L1196.14 116.688L1199.46 120.474M1196.49 116.333L1200.14 120.496M1200.14 120.496L1199.79 120.143L1199.46 120.474M1200.14 120.496L1199.76 120.826L1199.46 120.474");
        offset-rotate: 0deg;
    }
    .comet-4{
        animation: comet-4-animation 10s cubic-bezier(.32,0,.67,0) infinite;
    animation-delay: 7s;
    animation-fill-mode: both;
    }
    .sell_heading{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 70px;
        .sell_heading-1{
            max-width: 692px;
            .sell_heading-1--buttons{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                column-gap: 20px;
            }
            p{
                max-width: 498px;;
            }
        }
    }
    .sell_count{
        position: relative;
       
        margin-top: -96px;

        .bg-gradient-prototype{
            transform: translate(0, -461px) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
            height: 576px;
            position: absolute;
            background-image: linear-gradient(0deg, #0e0e0f 36%, transparent);
        }
    }
}

@keyframes comet-4-animation{
    0% {
        offset-distance: 15%;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    35% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    90% {
        offset-distance: 4.5%;
        opacity: 0;
    }
    100% {
        offset-distance: 4.5%;
        opacity: 0;
    }
}